<!-- <p>narrator works!</p>
<button *ngFor="let player of players" mat-button (click)="kill(player.name)">
    Kill {{player.name}}
</button> -->
<div class="btn-group" style="width: 100%;">
    <button class="col-6 btn btn-light btn-block" (click)="setDayTurn()">
        Day Turn
    </button>
    <button class="col-6 btn btn-dark btn-block" (click)="setNightTurn()">
        Night Turn
    </button>
</div>
<div class="row">
    <div class="col-6">
        <h2>Doctor Heals : {{doctorMsg}}</h2>
    </div>
    <div class="col-6">
        <h2>Mosquito Stings : {{mosquitoMsg}}</h2>
        <h3>Previous Kills</h3>
        <ol>
            <li *ngFor="let choice of mosquitoStings">{{choice}}</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <mat-nav-list>
            <h2 matSubheader> Execute </h2>
            <mat-list-item *ngFor="let item of players" (click)="kill(item.name)">
                <mat-icon matListIcon> highlight_off </mat-icon>
                Kill {{item.name}}
            </mat-list-item>

        </mat-nav-list>
    </div>
    <div class="col-6">
        <mat-nav-list dense>
            <h2 matSubheader> Roles </h2>
            <mat-list-item *ngFor="let item of roles">
                <mat-icon *ngIf="item.dead" matListIcon> sentiment_very_dissatisfied </mat-icon>
                <mat-icon *ngIf="!item.dead" matListIcon> sentiment_satisfied </mat-icon>
                {{item.name}} : {{item.role}}
            </mat-list-item>

        </mat-nav-list>
    </div>
</div>