.hidden {
  display: none;
}
.visible {
  display: block;
}
.dark {
  background-color: #000;
}
.light {
  background-color: #eee;
}
.scrolling-wrapper {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  // scroll-padding: 50%;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;

  .hcard {
    flex: 0 0 auto;
    height: 100vh;
    scroll-snap-align: start;
  }
}

.floating-header {
  z-index: 10;
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
}
