.hidden {
  display: none;
}
.visible {
  display: block;
}

.scrolling-wrapper {
  display: flex;
  scroll-snap-type: x mandatory;
  // scroll-padding: 50%;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  .card {
    flex: 0 0 auto;
    height: 100vh;
    scroll-snap-align: start;
  }
}
