<div class="container">
    <div class="scrolling-wrapper row" #hscroll>
        <div class="col-md-6 card mx-1">
            <h2 class="text-capitalize">Game Chat</h2>
            <div [ngClass]="{
                'hidden': night, 'visible':!night
             }">
                <app-chat></app-chat>
            </div>
            <div *ngIf="mafia || narrator" [ngClass]="{
                'hidden': !night, 'visible':night
             }">
                <app-mafia></app-mafia>
            </div>
            <div *ngIf="!mafia && !narrator" [ngClass]="{
                'hidden': !night, 'visible':night
             }">
                <h1>There's nothing to look at sleep tight</h1>
            </div>
            <button class="btn btn-primary btn-block" (click)="scrollRight(hscroll)">Vote</button>
        </div>
        <div class="card col-md-6 mx-1">
            <h2 class="text-capitalize">Your role: {{role}} </h2>
            <div *ngIf="doctor && !disabled" [ngClass]="{
                'hidden': !night, 'visible':night
             }">
                <app-doctor></app-doctor>
            </div>
            <div *ngIf="mosquito && !disabled" [ngClass]="{
                'hidden': !night, 'visible':night
             }">
                <app-mosquito></app-mosquito>
            </div>

            <div *ngIf=narrator>
                <app-narrator></app-narrator>
            </div>
            <div *ngIf="!narrator && !disabled" [ngClass]="{
                'hidden': night, 'visible':!night
             }">
                <app-vote></app-vote>
            </div>
            <button class="btn btn-primary btn-block" (click)="scrollLeft(hscroll)">Got to Chat</button>
        </div>
    </div>
</div>