.hidden {
  display: none;
}
.visible {
  display: block;
}
.dark {
  background-color: #000;
}
.light {
  background-color: #eee;
}
.scrolling-wrapper {
  height: 100vh;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  // scroll-padding: 50%;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  .hcard {
    flex: 0 0 auto;
    height: calc(100vh - 10px);
    scroll-snap-align: start;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.floating-header {
  z-index: 10;
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
}
