<div class="container">
    <div class="row mx-auto" style="height: 90vh; max-width: 900px;">
        <div class=" col-12 align-self-center">
            <div class="row text-center">
                <div class="col-12 text-center"> Share the following link for others to join </div>
                <div class="input-group mb-4">
                    <input class="form-control" type="text" value={{url}} #urlq aria-describedby="inputGroupAppend">
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupAppend" (click)="copy(urlq)">Copy</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <form class="text-center border border-light p-4" *ngIf="!nameChosen"
                        (ngSubmit)="createPlayer(playerName.value)">
                        <p class="h4 mb-4">Choose Game Name </p>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                            <input class="form-control" type="text" [formControl]="playerName" placeholder="Username"
                                aria-describedby="inputGroupPrepend" [ngClass]="{
                                    'is-invalid ': err
                                 }" required>
                            <div class="invalid-feedback">
                                Name is already taken
                            </div>
                        </div>
                        <!-- <input class="form-control mb-4" type="text" [formControl]="playerName"
                            placeholder="My name is ... ">
                        <p *ngIf="err" class="invalid-feedback">Name is already taken</p> -->
                        <button class="btn btn-primary btn-block" type="submit">Join Game </button>
                    </form>
                    <div *ngIf="nameChosen">
                        <h4 class=" md-4 text-center"> Welcome {{playerId}} </h4>

                        <form class="border border-light p-4" *ngIf="narrator" [formGroup]="settingsForm"
                            (ngSubmit)="startGame(settingsForm.value)" novalidate>
                            <p class="h4 mb-4">Game Settings </p>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" formControlName="jester"
                                    id="jester">
                                <label class="custom-control-label" for="jester">Include Joker</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" formControlName="mosquito"
                                    id="mosquito">
                                <label class="custom-control-label" for="mosquito">Include Mosquito</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" formControlName="doctor"
                                    id="doctor">
                                <label class="custom-control-label" for="doctor">Include Doctor</label>
                            </div>
                            <label for="mafia">Mafia</label>
                            <input type="number" class="form-control" placeholder="1" formControlName="mafia" id="mafia"
                                required>

                            <button class="btn btn-primary btn-block mt-4" type="submit">Start Game</button>
                        </form>
                        <div class="md-4 text-center" *ngIf="!narrator">
                            <div>
                                <i class="fas fa-circle-notch indigo-text fa-spin fa-10x"></i>
                            </div>
                            <div>
                                Waiting for players
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Connected Players</h4>
                    <ul class="list-group-flush p-0">
                        <li class="list-group-item" *ngFor="let player of players"><i
                                class="fas fa-user mr-2  fa-lg indigo-text" aria-hidden="true"></i>
                            {{player.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>