<div *ngIf="showPlayerList">
    <p> Share the following link for others to join </p>
    <h1>{{url}}</h1>
    <form *ngIf="!nameChosen" (keyup.enter)="createPlayer(playerName.value)">
        <label>
            Enter Name:
            <input type="text" [formControl]="playerName">
        </label>
        <button (click)="createPlayer(playerName.value)">Join</button>
    </form>
    <p *ngIf="nameChosen"> Your Name : {{playerId}}
    </p>

    <form [formGroup]="settingsForm" novalidate (ngSubmit)="startGame(settingsForm.value)">
        <label>Joker</label>
        <input type="checkbox" class="form-control" formControlName="jester">
        <label>Mosquito</label>
        <input type="checkbox" class="form-control" formControlName="mosquito">
        <label>Doctor</label>
        <input type="checkbox" class="form-control" formControlName="doctor">
        <label>Mafia</label>
        <input type="number" class="form-control" placeholder="Number" required formControlName="mafia">
        <button mat-button type="submit">Start Game</button>
    </form>
    <h2>Connected Players</h2>
    <ul>
        <li *ngFor="let player of players">{{player.name}}</li>
    </ul>
</div>